@{
    ViewData["Title"] = "Email Tenants";
}

<h2> Email </h2>

<br />
<br />

<form method="post" action="Email">
    <div class="container">

        <span class="form-control-static"> Receiver: </span>

        <input class="form-control" type="text" name="receiver" v-model="Email" v-on:blur="CheckEmail" />
        <span class="invalid-input" v-show="InvalidEmail">Invalid Email</span>
        <br />
        <span class="form-control-static"> Subject: </span>
        <input class="form-control" type="text" name="subject" />
        <br />
        <span class="form-control-static"> Message: </span>
        <input class="form-control" type="text" name="message" />
        <br /> <input class="btn btn-primary" type="submit" value="Send" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to Manager Home</a>
</div>
