@{
    ViewData["Title"] = "Index";
}

<h2>Tenant Home</h2>

<h6><a asp-controller="Tenant" asp-action="Submit">Click here</a> to submit a service request</h6>

<h6><a asp-controller="Tenant" asp-action="Rent">Click here</a> to make a rent payment</h6>