@model Capstone.Models.Payment

@{
    ViewData["Title"] = "Payments";
}

<h2>Pay Rent</h2>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitID" class="control-label"></label>
                <input asp-for="UnitID" class="form-control" />
                <span asp-validation-for="UnitID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantID" class="control-label"></label>
                <input asp-for="TenantID" class="form-control" />
                <span asp-validation-for="TenantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentAmount" class="control-label"></label>
                <input asp-for="PaymentAmount" class="form-control" />
                <span asp-validation-for="PaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentForMonth" class="control-label"></label>
                <input asp-for="PaymentForMonth" class="form-control" />
                <span asp-validation-for="PaymentForMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Payment" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Tenant Home</a>
</div>

