

@{
    ViewData["Title"] = "Home";
}


<style>
    .mySlides {
        display: none;
    }
</style>﻿

<br />
<div class="w3-container">
    <h2><strong>TE Real Estate Management</strong></h2>
    <div class="w3-row w3-large">

        <div>
            <!-- Push down content on small screens -->
            <div class="w3-hide-large" style="margin-top:80px"></div>

            <!-- Slideshow Header -->
            <div class="w3-container">
                <h2 class="w3-text-green">Name</h2>
                <div class="w3-display-container mySlides">
                    <img src="https://www.w3schools.com/w3images/livingroom.jpg" style="width:100%;margin-bottom:-6px">
                    <div class="w3-display-bottomleft w3-container w3-black">
                        <p>Living Room</p>
                    </div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="https://www.w3schools.com/w3images/diningroom.jpg" style="width:100%;margin-bottom:-6px">
                    <div class="w3-display-bottomleft w3-container w3-black">
                        <p>Dining Room</p>
                    </div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="https://www.w3schools.com/w3images/bedroom.jpg" style="width:100%;margin-bottom:-6px">
                    <div class="w3-display-bottomleft w3-container w3-black">
                        <p>Bedroom</p>
                    </div>
                </div>
                <div class="w3-display-container mySlides">
                    <img src="https://www.w3schools.com/w3images/livingroom2.jpg" style="width:100%;margin-bottom:-6px">
                    <div class="w3-display-bottomleft w3-container w3-black">
                        <p>Living Room II</p>
                    </div>
                </div>
            </div>
            <div class="w3-row-padding w3-section">
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.w3schools.com/w3images/livingroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
                </div>
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.w3schools.com/w3images/diningroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
                </div>
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.w3schools.com/w3images/bedroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
                </div>
                <div class="w3-col s3">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="https://www.w3schools.com/w3images/livingroom2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    // Slideshow Apartment Images
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }
</script>



@*<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>*@
@*<head>
        <link href="~/css/homeindex.css" rel=" stylesheet"></link>
    </head>*@

@*<div class="container">
    <h2>Carousel Example</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item-active">
                <img src="~/images/banner1.svg" alt="Los Angeles">
            </div>

            <div class="item">
                <img src="~/images/banner2.svg" alt="Chicago">
            </div>

            <div class="item">
                <img src="~/images/banner3.svg" alt="New york">
            </div>*@

        ﻿

@*<div id="form">
        <p>
            <label>Full Name</label>
            <input type="text" placeholder="Enter your full name" v-model="FullName" />
        </p>

        <p>
            <label>Email</label>
            <input type="text" placeholder="Enter your email" v-model="Email" v-on:blur="CheckEmail" />
            <span class="invalid-input" v-show="InvalidEmail">Invalid Email</span>
        </p>

        <p>
            <label>Comments</label>
            <textarea rows="10" placeholder="Enter some positive comments" v-model="Comments"></textarea>
        </p>

        <div id="form-buttons">
            <button type="button" class="danger" v-on:click="ResetForm">Reset Form</button>
            <button type="button" class="success" ref="SubmitButton" v-bind:disabled="isSubmitDisabled" v-on:click="SubmitForm">Submit Form</button>
        </div>
    </div>*@

<!-- This section is in test-->
@*<form asp-controller="FileUpload" asp-action="UploadFile" method="post"
          enctype="multipart/form-data">

        <input type="file" name="file" />
        <button type="submit">Upload File</button>
    </form>*@
