@model Capstone.Models.Property

@{
    ViewData["Title"] = "Owner Home";
}

<h2>Owner Home</h2>

<h6><a asp-controller="Owner" asp-action="Property">Click here</a> to add a Property</h6>

<h6><a asp-controller="Owner" asp-action="Unit">Click here</a> to add a Unit to an existing Property</h6>

<h6><a asp-controller="Owner" asp-action="Review">Click here</a> to view submitted Applications</h6>

<h6><a asp-controller="Owner" asp-action="Statistics">Click here</a> to view your properties</h6> 