body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}

#logo {
    width: 400px;
    height: auto;
}

/*.w3-input {
    display:inline-block;
    height: 20px;
}*/

/*.control-label {
    height: 10px;
}*/